#thermal {

    height: 100%;
    width: 100%;
    z-index: 1;
    float: left;
    position: absolute;


}

#cover {
    z-index: 2;
    opacity: 50;
    height: 100%;
    width: 100%;
    float: left;
    position: absolute;
    opacity: 100%;
}


#buttonmain {
    position: absolute
    z-index: 3
    
}