#thermal {

    height: 100%;
    width: 100%;
    z-index: 1;
    position: fixed;


}

#cover {
    z-index: 2;
    opacity: 50;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 100%;
    transition: opacity 5s;
}


#buttonmain {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    
}

#divbutton {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 20%;
    height: 100%;
    z-index: 4;
    position: fixed;
}

#divcontent {
    margin: auto;
    
}